.numbers {
    display: flex;
    align-items: center;
    font-size: 5em;
    font-weight: 600;
    padding: 60px;
    background: #1c1c1c;
    border-radius: 10px;
    margin: 20px 0;
    border: gray 2px solid;
}
.container {
    padding: 0 100px;
}